@page "/"
@using Verse.Models
@inherits MainPage

@if (LastResult?.Syllables == null)
{
    <div class="flex-center help-block">
        Прочитайте одну строку из стихотворения, и я определю его <b>стихотворный размер.</b><br>
        На текущий момент я понимаю классические двусложные (ямб, хорей) и трёхсложные (дактиль, амфибрахий, анапест) размеры.
    </div>
}
else
{
    <div class="flex-center">
        <div class="result-container">
            <div class="syllables-container">
                @for (var i = 0; i < LastResult.Syllables.Length; i++)
                {
                    Syllable[] word = LastResult.Syllables[i];
                    <span class="word">
                        @for (var k = 0; k < word.Length; k++)
                        {
                            Syllable syllable = word[k];
                            if (syllable.Type == SyllableType.Consonant)
                            {
                                <span class="simple">@syllable.Text</span>
                            }
                            else
                            {
                                if (syllable.Type == SyllableType.Unstressed)
                                {
                                    <span class="unstressed select-color">@syllable.Text</span>
                                }
                                else
                                {
                                    <span class="stressed select-color">
                                        @syllable.Text<span class="@("stress select-color" + (i == 0 && k == 0 ? " capital" : ""))">´</span>
                                    </span>
                                }
                            }
                        }
                    </span>
                }
            </div>
            <div class="foot-info">
                <div class="foot-title">
                    <div class="foot-schema">@LastResult.FullSchema</div>
                    <div class="foot-name"><i>@(LastResult.StepsName + " " + LastResult.Foot.Name)</i></div>
                </div>
                <div class="foot-desc"><i>@LastResult.Foot.Description</i></div>
            </div>
        </div>
    </div>
}