@page "/"
@using Verse.Models
@inherits MainPage

@if (LastResult?.Syllables == null)
{
    <div class="flex-center help-block">
        Прочитайте одну строку из стихотворения, и я определю его <b>стихотворный размер.</b><br>
        На текущий момент я понимаю классические двусложные (ямб, хорей) и трёхсложные (дактиль, амфибрахий, анапест) размеры.
    </div>
}
else
{
    <div class="flex-center">
        <div class="result-container">
            <div class="syllables-container">
                @foreach (Syllable[] word in LastResult.Syllables)
                {
                    <span class="word">
                        @foreach (Syllable syllable in word)
                        {
                            if (syllable.Type == SyllableType.Consonant)
                            {
                                <span class="simple">@syllable.Text</span>
                            }
                            else if (syllable.Type == SyllableType.Unstressed)
                            {
                                <span class="unstressed select-color">@syllable.Text</span>
                            }
                            else
                            {
                                <span class="stressed select-color">@(syllable.Text)<span class="stress select-color">&#x301;</span></span>
                            }
                        }
                    </span>
                }
            </div>
            <div class="foot-info">
                <div class="foot-title">
                    <div class="foot-schema">@Foot.Schema</div>
                    <div class="foot-name"><i>@Foot.Name</i></div>
                </div>
                <div class="foot-desc"><i>@Foot.Description</i></div>
            </div>
        </div>
    </div>
}